/* external css */

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    /*
    width:200px; border:10px padding:20px;
    200+10*2+20*2=260px
    */
}

p{
    color:orange;
}

#data_id{
    color:purple;
   
}
.data_class{
    color:blue;
   
}

#div_id{
    /* color:black!important;  00=siyah */
    color:green;
    color:rgb(0, 0, 0);
    color:rgba(0, 0, 0,0.4);
    color:rgba(0, 0, 0,.3);
    color:#abc;
    color:#abc123;

    background:black;

    /* padding:iç boşluk */
     padding:12px; 
    /* padding:4px 6px 12px 24px; */
    /* padding:12px 24px; */
    /* padding-top: 24px; */

    /* margin:dış boşluk */
     margin:12px; 
    /* margin:4px 6px 12px 24px; */
    /* margin:12px 24px; */
    /* margin-top: 24px; */

    border:3px solid blue;
    /* border-radius: 50%; */
    border-bottom-left-radius:15%;
}

.paragraf{
    color:black;
    font-size: 25px;
    font-weight: bold;
    font-style: italic;
    font-family: 'Arial Narrow Bold', sans-serif; 
    text-align: justify;

    text-decoration: underline;
    text-decoration: line-through;
    text-decoration: none;
    text-transform: capitalize;

    text-indent: 44px;

    word-spacing: 2;
    letter-spacing:1px;
    line-height:2;
    column-count: 3;
    column-rule: 10px solid red;
    margin:0 25px;
    margin:0px 25px;
}

i{
    color:blue;
    font-size: 85px;
}

#div_a a{
    color:yellow;
    background:blue;
    /* width:25%; */
    display:inline-block;
    /* display: none; */
    text-decoration: none;
    border:1px solid red; 
    padding:2px 4px;
    border-radius: 10%;
}

.clear:before{
    content: "";
    clear: both;
    display: block;
}

#img_id{
    float:left;
    margin-right: 15px;
}

#float_paragraf{
    font-size: 20px;
    text-align: justify;
}


ul{
list-style-type: none;
font-size:18px;

}
ul li{
    display:inline;
    text-transform: uppercase;
    color:white;
    background:black;
    padding:4px 3px;
}

ul li:hover{
    box-shadow:1px 1px 5px 1px rgba(0,0,0,.8);
    cursor:pointer;
}