/*
project name: My project one pages
project author:Hamit Mızrak
project year: 2022
project version: v.1
*/
/* config file */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Crimson Text', serif;
    background:#000 ;
    color:rgb(235, 218, 218) ;
    position: relative;
}

html{
    font-size:15px;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}

p{
    text-align: justify;
}

/* header */
header{
    background-image: url('picture/header.jpg');
    background-size: cover;
    background-position: 50% 50%;
    padding-top:12rem;
    height:40rem;
    z-index: -1;
    opacity: .8;

}


/* footer */
footer{
    min-height: 20rem;
    width:auto;
    background:#343a40;
}